<!DOCTYPE html>
<html lang="en">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  style

     include ../style.css

</head>

<body>
  <nav>
    <img id="logo" src="https://static.vecteezy.com/system/resources/previews/000/529/574/original/vector-ballet-dancer.jpg" alt="">
    <ul>
      <li><a href="">HOME </a></li>
      <li><a href=""> ABOUT</a></li>
      <li><a href="">SERVICES </a></li>
      <li><a href="">CLASS INFO </a></li>
      <li><a href="/contactus">CONTACT US </a></li>
    </ul>
  </nav>
  <section id="introsection">
     <div id="large" class="effect"> WELCOME TO SAKSHI'S DANCE ACADEMY</div>
     <div id="small">Eat Sleep Dance Repeat</div>
  <section id="missionsection">
     <div id="mission"> Our Mission</div>
        <div class="card"> <h2> Dance Perfection</h2>
          <img id="card"src="https://i.pinimg.com/originals/7f/6f/78/7f6f78fa4d0dc57ba1bb17ccb7ece4a3.png"><p id="card1">THIS STUDIO DANCE WITH YOU!!!</p>
          </div>
        <div class="card"><h2> Dance The Way You Like!</h2>
           <img id="card"src="https://th.bing.com/th/id/R.8a3da07470529ebc817f86776b51789d?rik=eBKBXJ%2bBBHSq4w&riu=http%3a%2f%2fclipart-library.com%2fimg%2f694846.gif&ehk=I1MJQhGS%2bu4dd2IXb4YAxjl%2bqDzN2%2fcB1CpdpR1%2bm80%3d&risl=&pid=ImgRaw&r=0"><p id="card2"> DANCE IS THE HIDDEN LANGUAGE OF THE SOUL!</p>
           </div>
        <div class="card"><h2>Expert Teaching</h2>
           <img id="card"src="https://www.silhcdn.com/3/i/shapes/lg/6/7/d41876.jpg"><p id="card3">DANCING IS LIKE DREAMING WITH YOUR FEET!!</p>
           </div>
   
  </section>
   <section id="sponsorsection">
   
    <div id="sponsors"> Our Mentors</div>
    <img src="https://2.bp.blogspot.com/-GNu9GB74Oo0/T_1xdU66NcI/AAAAAAAAAAs/q1pPcA_ZCu4/s1600/dancer.jpg" id="spI" alt="">
    <img src="https://d.ibtimes.co.uk/en/full/159538/madhuri-dixit.jpg" id="spI1" alt=""><h2 id="name"> Madhuri Dixit</h2><p id="desc"> Trained classical dancer who has learned Kathak. The actress, who is fondly called as the Dhak Dhak Girl is Bollywood for her moves .</p>
      </section>
  
  <footer>
    <div class="center">
        Copyright &copy;www.SakshiDanceAcademy.com All rights reserved!
    </div>
</footer>

</body>
</html>